<div>
  <div
    class="form-dev"
    (change)="onSearchCountry()"
    (keyup)="onSearchCountry()"
  >
    <input
      [(ngModel)]="searchName"
      name="searchName"
      type="text"
      class="form-control shadow p-12 mb-1 rounded"
      placeholder="Search for country or capital ..."
      autofocus
    />
    <select
      class="form-control shadow p-12 mb-1 rounded"
      [(ngModel)]="selectedRegion"
      (ngModelChange)="(onRegionSelected)"
    >
      <option selected hidden>{{ selectedRegion }}</option>

      <option *ngFor="let region of regions" [value]="region">
        {{ region }}
      </option>
    </select>
  </div>

  <div class="country-panels ml-4 mr-4">
    <div
      *ngIf="isLoading"
      class="spinner-border text-primary"
      style="width: 7rem; height: 7rem"
      role="status"
    >
      <span class="sr-only">Loading...</span>
    </div>
    <div
      class="card"
      *ngFor="let country of filteredItems"
      style="width: 19rem"
    >
      <a [routerLink]="['/countries', country.alpha3Code]">
        <img src="{{ country.flag }}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ country.name }}</h5>
        </div>
      </a>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Population : {{ country.population | number}}</li>
        <li class="list-group-item">Region : {{ country.region }}</li>
        <li class="list-group-item">Capital: {{ country.capital }}</li>

      </ul>
    </div>
  </div>

  <div *ngIf="isNoResult" style="margin: 4rem; color: rgb(231, 14, 14)">
    <h1>Sorry, There is No Result Found &#9785;&#9785;</h1>
  </div>
</div>
