.card {
  margin-bottom: 30px;
  margin-left: 5px;
  background-color: var(--primary-color);
  color: var(--text-color);

}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: var(--text-color);

}

p {
  margin: 0;
}
img {
  height: 12.55rem;
  width: 100%;
}

.form-dev {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px;
  flex-wrap: wrap;
}

input {
  width: 420px;
  height: 45px;
  border: none;
}
select {
  width: 210px;
  height: 45px;
  border: none;
  font-family: FontAwesome;

}
.list-group-itemul,
li,
a {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.country-panels {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  flex-wrap: wrap;
}
.form-control{
  background-color: var(--primary-color);
  color: var(--text-color);
}
.form-control::placeholder {
  font-family: FontAwesome;
}
