/* You can add global styles to this file, and also import other style files */

/* @import "~bootstrap/dist/css/bootstrap.min.css" */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import"~font-awesome/css/font-awesome.css";
:root {
    --primary-color: #fff;
    --background-color: #fff;
    --text-color: #2d2d2d;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }